*{margin: 0px; padding: 0px;};
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{font-family: "lato", sans-serif;}

.bg-orange {
    background-color: #FF5722;
}

.header-wrapper .top-strip {
    padding: 8px 0;
}

.header-wrapper .top-strip p {
    color: #fff;
    font-size: 12px;
    margin: 0;
}

.header-wrapper .header {
    width: 100%;
    padding: 10px 0;
}

.logo-wrapper {
    text-align: center;
    margin-right: 1px; /* Menambahkan margin kanan kecil untuk mendekatkan logo dengan dropdown */
}

.country-drop {
    width: 150px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-left: 0px; /* Menghapus margin kiri agar lebih dekat dengan logo */
}

.part-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mengatur agar konten di dalamnya mulai dari kiri */
}


.header-search {
    flex-grow: 1;
    max-width: 60%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f3f4f7;
    border-radius: 5px;
    margin-left: 20px;
}

.header-search input {
    border: none;
    background: transparent;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

.header-search svg {
    opacity: 0.7;
    cursor: pointer;
}


