*{margin: 0px; padding: 0px;};
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
body{font-family: "lato", sans-serif;}

.bg-orange {
    background-color: #FF5722;
}

.container {
    max-width: 85%;
}

.header-wrapper .top-strip {
    padding: 8px 0;
}

.header-wrapper .top-strip p {
    color: #fff;
    font-size: 12px;
    margin: 0;
}

.header-wrapper .header {
    width: 100%;
    padding: 10px 0;
}

.country-drop {
    width: 150px;
    padding: 15px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 7px;
    margin-left: 0px; /* Menghapus margin kiri agar lebih dekat dengan logo */
}

.part-2 {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Mengatur agar konten di dalamnya mulai dari kiri */
}


.header-search {
    flex-grow: 1;
    max-width: 60%;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: #f3f4f7;
    border-radius: 7px;
    margin-left: 20px;
}

.header-search input {
    border: none;
    background: transparent;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
}

.header-search svg {
    opacity: 0.7;
    cursor: pointer;
}

.btn-hover {
    position: relative;
}

.btn-hover button {
    background: none;
    border: none;
    outline: none;
}

.btn-hover .header-shopping, 
.btn-hover .header-account {
    color: transparent; /* Mengatur warna ikon menjadi transparan */
    transition: color 0.2s ease-in-out; /* Menambahkan transisi warna ikon */
}

.btn-hover:hover .header-shopping, 
.btn-hover:hover .header-account {
    color: white; /* Mengubah warna ikon menjadi putih saat di-hover */
}

.btn-hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px; /* Ukuran lingkaran */
    height: 40px; /* Ukuran lingkaran */
    border-radius: 50%; /* Membuat lingkaran */
    transform: translate(-50%, -50%);
    z-index: -1; /* Agar berada di belakang ikon */
    transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
}   

.btn-hover:active::before {
    width: 50px; /* Membesarkan lingkaran saat tombol di-*click* */
    height: 50px; /* Membesarkan lingkaran saat tombol di-*click* */
    background-color: rgba(255, 87, 34, 0.5); /* Membuat lingkaran lebih transparan saat tombol di-*click* */
}



  
  



